div {
  background-color: skyblue;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
}

span {
  background-color: skyblue;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  line-height: 60px;
}
