div {
  margin: 10px;
}

.container {
  border: 5px solid #f00;
  display: flex;
}

.item {
  background-color: #bbdefb;
  padding: 10px;
}

.flex2 .container{
  flex-wrap: wrap;
  gap: 20px 40px;
}


.flex3 .container{
flex-wrap: wrap;
justify-content: center;
}

.flex4 .container{
  flex-wrap: wrap;
  align-items: flex-start;

}


.flex5 .item {
  text-align: center;
}

.flex5 .item:nth-child(2){
  order: 2;

}
.flex5 .item:nth-child(3){
  order: 1;
  
}
.flex5 .item:nth-child(4){
  order: 3;
  
}
.flex5 .item:nth-child(5){
  order: 3;
  
}
.flex5 .item:nth-child(6){
  order: -1;
  
}